$gold: #c1ad56;
$blue: #0c1428;
body {
    font-family: 'Abel', sans-serif;
}

.gold {
    color: #c1ad56;
}

.blue {
    color: #0c1428;
}

.edit {
    padding-left: 1em;
}

.name {
    position: relative;
    left: -15%;
}

.profile-picture-div {
    padding-right: 3em;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(188, 187, 187, 0.5);
    padding: 0.6em;
    position: relative;
    top: 65pt;
    left: 70%;
    span {
        font-size: 2.5em;
        &:focus {
            outline-width: 0px;
        }
    }
    &:focus {
        outline-width: 0px;
    }
}

.picture-row {
    display: inline-block;
    overflow: hidden;
}

.picture-exp {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    /* IE 9 */
    -moz-transform: scale(1.5);
    /* Firefox */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */
}

.picture-tag {
    transform: scale(2);
    -ms-transform: scale(2);
    /* IE 9 */
    -moz-transform: scale(2);
    /* Firefox */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
}

.animation {
    position: relative;
    top: 3em;
    -webkit-transition: all linear 0.0001s;
    transition: all linear 0.0001s;
}

.animation.ng-hide {
    opacity: 0;
}

.crew {
    position: relative;
    top: -47pt;
    left: 30pt;
    label {
        font-weight: normal;
        font-size: 2em;
        position: relative;
        left:-10%;
    }
    img {
        width: 5em;
        margin-left: 2.2em;
    }
}

.title {
    position: relative;
    left: -84%;
}

.line-1 {
    position: relative;
    left: -70%;
}

.line-2 {
    position: relative;
    left: -55%;
}

.line-3 {
    position: relative;
    left: -40%;
}

.line-4 {
    position: relative;
    left: -25%;
}

.line-5 {
    position: relative;
    left: -10%;
}

.line-6 {
    position: relative;
    left: 6%;
}
.profile-input{
    font-size: 24pt;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: 0;
    border-bottom: 1px solid #c1ad56;
    background-color: transparent;
    color: #c1ad56;
    &:focus {
        outline-width: 0px;
    }
}

.row-fixed{
position: absolute;
top:75%;
height: 73pt;
}

.btn-profile{
    color: #0c1428;
    background-color: #c1ad56;
    position: relative;
    top:30pt;
    left:40%;
    z-index: 100;
}

.clickable {
    cursor: pointer;
}