<div class="col-lg-12 col-md-12 col sm-12">
	<input type="text" ng-model="filterQuery">
</div>

<div class="col-lg-4 col-md-4 col sm-4" ng-repeat="actor in actors | filter:filterQuery">
    <figure>
        <img ng-show="{{actor.profile_picture}}" src="{{actor.profile_picture}}" alt="" height="100%" width="100%">
    </figure>
    <figcaption>
        <ul>
            <h1>	
	        	<a ui-sref="index">
				{{actor.first_name}}
	        	</a>
			</h1>
            <li ng-repeat="(key,value) in actor">
                {{key}}: {{value}}
            </li>
        </ul>
    </figcaption>
</div>
