<div class="middle">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3 img-hover">
            <img src="images/actress.jpg" class="square">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3 img-hover">
            <img src="images/actress.jpg" class="square">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3 img-hover">
            <img src="images/actress.jpg" class="square">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3 img-hover">
            <img src="images/actress.jpg" class="square">
        </div>
    </div>
</div>
