<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
        <img id="img" src="{{img}}" width="200px" height="300px">
        <button popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}" type="button" class="btn btn-default">button</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-lg-offset-1 col-md-offset-1 ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="detail in details">
            <h2 ng-hide="editing" ng-click="editing = true">{{detail}}</h2>
            <form ng-show="editing" ng-submit="editing = false">
                <input type="text" ng-model="detail" />
                <button class="btn" type="submit"> save </button>
            </form>
        </div>
    </div>
</div>
