<div class="search-middle">
<div class="row search-row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
</div>
<div class="row search-row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-sx-2 search-hover">
        <img src="images/actress.jpg" class="square">
    </div>
</div>
</div>