<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    </div>
    <form class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 line">
        <img src="images/line-03.svg">
        </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
                <div class="rcol-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
                    <label class="gold nohover">E-Mail</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in spacing">
                    <input type="email">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
                    <label class="gold nohover">Password</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in spacing">
                    <input type="password">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
                <label class="gold btn" role="submit">Login</label>
                <label class="gold btn signup" href="">SignUp</label>
            </div>
    </form>
</div>
