<div class="row position">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 width">
        <img src="images/sign-in-04.svg" width="400px">
    </div>
    <form class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gold sign-in width-limit">
            <p class="wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis alias et rem quae distinctio eius debitis</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 line">
            <img src="images/line-03.svg">
        </div>
        <div class="row padding-left-form">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sign-in">
                <div class="rcol-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
                    <label class="gold nohover">E-Mail</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in spacing">
                    <input type="email" class="sign-up" ng-model="email">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sign-in">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in spacing">
                    <select name="role" id="input" class="form-control" required="required" ng-model="role">
                        <option value="Director">Director</option>
                        <option value="Actor">Actor</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row padding-left-form">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sign-in">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
                    <label class="gold nohover">Password</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in spacing">
                    <input type="password" class="sign-up" ng-model="password">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 sign-in">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
                    <label class="gold nohover">Confirm Password</label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in spacing">
                    <input type="password" class="sign-up" ng-model="passwordconfirm">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
            <label class="gold btn signin" role="submit">SignUp</label>
            <label class="gold btn signup" ui-sref="signin">Login</label>
        </div>
    </form>
</div>
