<div class="row position">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2 width">
    <img src="images/sign-in-04.svg" width="400px">
    </div>
    <form class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gold sign-in">
            <p class="wrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 line">
            <img src="images/line-03.svg">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
            <div class="rcol-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
                <label class="gold nohover">Username</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in spacing">
                <input type="text" class="text-signin" ng-model="username">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
                <label class="gold nohover">Password</label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in spacing">
                <input type="password" class="text-signin" ng-model="password">
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sign-in">
            <label class="gold btn signin" ng-click="login()">Login</label>
            <label class="gold btn signup" ui-sref="signup">SignUp</label>
        </div>
    </form>
</div>
